USE [master]
GO
/****** Object:  Database [hospital]    Script Date: 12/15/2025 8:34:47 PM ******/
CREATE DATABASE [hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hospital_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hospital]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dep_id] [int] NOT NULL,
	[Dep_name] [varchar](30) NOT NULL,
	[phone] [varchar](30) NULL,
	[location] [varchar](30) NULL,
	[monitor_doc_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department_Nurse]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Nurse](
	[nurse_id] [int] NULL,
	[department_id] [int] NULL,
	[hours] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doc_id] [int] NOT NULL,
	[Doc_name] [varchar](30) NOT NULL,
	[email] [varchar](50) NULL,
	[specialization] [varchar](30) NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor_patient_examine]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_patient_examine](
	[doc_id] [int] NULL,
	[patient_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor_patient_surgey]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_patient_surgey](
	[doc_id] [int] NULL,
	[patient_id] [int] NULL,
	[operation_name] [varchar](40) NULL,
	[date] [varchar](10) NULL,
	[time] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Record]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Record](
	[record_id] [int] NOT NULL,
	[diagnosis] [varchar](50) NULL,
	[treatment] [varchar](100) NULL,
	[nurse_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord_Medication]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord_Medication](
	[record_id] [int] NULL,
	[medication_id] [int] NULL,
	[hours] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[Med_id] [int] NOT NULL,
	[name] [varchar](30) NULL,
	[instructions] [varchar](100) NULL,
	[dosage] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Med_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[Nurse_id] [int] NOT NULL,
	[Nurse_name] [varchar](30) NOT NULL,
	[Monitor_Nurse_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nurse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patient_id] [int] NOT NULL,
	[patient_name] [nvarchar](30) NULL,
	[city] [varchar](30) NULL,
	[street] [varchar](30) NULL,
	[date_of_birth] [varchar](30) NULL,
	[record_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[patient_id] [int] NULL,
	[phone] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surgical_Operations_Rooms]    Script Date: 12/15/2025 8:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surgical_Operations_Rooms](
	[SOR_id] [int] NOT NULL,
	[SOR_name] [varchar](30) NOT NULL,
	[phone] [int] NULL,
	[equipments] [varchar](50) NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOR_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([monitor_doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([monitor_doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Department_Nurse]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
ALTER TABLE [dbo].[Department_Nurse]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
ALTER TABLE [dbo].[Department_Nurse]  WITH CHECK ADD FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[Department_Nurse]  WITH CHECK ADD FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
ALTER TABLE [dbo].[Doctor_patient_examine]  WITH CHECK ADD FOREIGN KEY([doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Doctor_patient_examine]  WITH CHECK ADD FOREIGN KEY([doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Doctor_patient_examine]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Doctor_patient_examine]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Doctor_patient_surgey]  WITH CHECK ADD FOREIGN KEY([doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Doctor_patient_surgey]  WITH CHECK ADD FOREIGN KEY([doc_id])
REFERENCES [dbo].[Doctor] ([Doc_id])
GO
ALTER TABLE [dbo].[Doctor_patient_surgey]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Doctor_patient_surgey]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Medical_Record]  WITH CHECK ADD FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[Medical_Record]  WITH CHECK ADD FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[MedicalRecord_Medication]  WITH CHECK ADD FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medication] ([Med_id])
GO
ALTER TABLE [dbo].[MedicalRecord_Medication]  WITH CHECK ADD FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medication] ([Med_id])
GO
ALTER TABLE [dbo].[MedicalRecord_Medication]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Record] ([record_id])
GO
ALTER TABLE [dbo].[MedicalRecord_Medication]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Record] ([record_id])
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD FOREIGN KEY([Monitor_Nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD FOREIGN KEY([Monitor_Nurse_id])
REFERENCES [dbo].[Nurse] ([Nurse_id])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Record] ([record_id])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Record] ([record_id])
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Surgical_Operations_Rooms]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
ALTER TABLE [dbo].[Surgical_Operations_Rooms]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([Dep_id])
GO
USE [master]
GO
